/** ADD YOUR AWESOME CODES HERE **/
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .elementList {
    display: grid;
    grid-template-columns: 30% 30% 30%;

    grid-column-gap: 3.33%;
    grid-row-gap: 20px;
    max-width: 1200px;
    margin: auto;
  }

  .elementContent {
    display: grid;
    grid-template-columns: auto 30%;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin: auto;
  }

  .kiezprojektContainer.gridCandidate {
    grid-column: 2;
    grid-row: 1;
  }
  .mapContainer.gridMap {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  .kiezprojektContainer.kiezprojekt {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
}

@media screen and (min-width: 1200px) {
  .elementList {
    display: grid;
    grid-template-columns: 23.5% 23.5% 23.5% 23.5%;

    grid-column-gap: 2%;
    grid-row-gap: 20px;

    margin: auto;
  }

  .elementContent {
    display: grid;
    grid-template-columns: auto 30%;

    grid-column-gap: 20px;
    grid-row-gap: 20px;

    margin: auto;
  }

  .kiezprojektContainer.gridCandidate {
    grid-column: 2;
    grid-row: 1;
  }
  .mapContainer.gridMap {
    grid-column: 1;
    grid-row: 2;
  }
  .mapContainer.gridMap {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 1;
  }

  .kiezprojektContainer.kiezprojekt {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 3;
    grid-row-end: span 1;
  }
}
